# Fichiers objets
*.o
*.a
*.out
compile_commands.json
.cache/clangd*
.vscode/*
miniRT

# Fichiers de dépendances (gcc/clang)
*.d
*.a
*.out
compile_commands.json
.cache/*
puresky.xpm
earth8k.xpm
lilienstein.xpm
mud8k.xpm
